@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('fonts/big_noodle_titling-webfont.eot');
    src: url('fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('fonts/big_noodle_titling-webfont.ttf') format('truetype'),
         url('big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.quiz__answerdisplay {
    width: 980px;
    height: 445px;
    overflow: hidden;
    position: relative;
    border-top: 8px solid #f09208;

    background: #cececf; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #cececf 0%, #e3e4e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #cececf 0%,#e3e4e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #cececf 0%,#e3e4e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cececf', endColorstr='#e3e4e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    &--img {
        width: 600px;
        position: absolute;
        left: -100px;
        bottom: 0;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    &--text {
        float: right;
        width: 100%;
    }

    &--textwrapper {
        background-color: #a4a4a4;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    &--class {
        font-family: 'bignoodletitlingoblique';
        font-size: 100px;
        text-align: right;
        padding-right: 20px;
        margin-top: 20px;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    &--description {
        font-size: 18px;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 400;
        width: 400px;
        float: right;
        text-align: right;
        padding: 20px;
    }


    .quiz__answerdisplay--img, .quiz__answerdisplay--class, .quiz__answerdisplay--textwrapper {
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .quiz__answerdisplay--img {
        &.active {
            left: -50px;
        }
    }
}
